/* Universal styles */

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}

h3 {
    font-weight: normal;
}

.image-container img {
    display: block;
}

.center {
    text-align: center;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #c6c1c1;
    background-color: white;
    z-index: 1;
}

header .header-content {
    display: flex;
    height: 5rem;
    align-items: center;
    padding: 0 1.5rem;
}

header .logo {
    flex: 1;
    text-decoration: none;
    font-size: 1.5rem;
}

header .logo img {
    width: 10rem;
    height: auto;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar li {
    padding-left: 3.5rem;
}

.navbar a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    text-decoration: none;
    color: black;
  }

.navbar a:hover {
    text-decoration: underline
  }

@media only screen and (max-width: 890px) {
    .navbar li {
        padding-left: 1.5rem;
    }
}

/* Teaser section */

.teaser img {
    width: 100%;
    height: auto;
}

/* Destintations section */

#destinations-section {
    width: 100%;
    padding: 2rem 3rem;
    box-sizing: border-box;
}

#destinations-section .content {
    width: 100%;
}

.destinations-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.destination {
    width: 33%;
}

.destination img {
    width: 100%;
    height: auto;
}

/* Planning section */

#planning-section {
    width: 100%;
    padding: 2rem 3rem 3rem;
    box-sizing: border-box;
    background-color: aquamarine; 
    /* background-color: #00FFCC; */
}

#planning-section .content {
    width: 100%;
}

.planning-container {
    display: flex;
    width: 100%;
    justify-content: left;
}

.planning-items-list {
    width: 33%;
}

.planning-item {
    display: flex;
    margin-bottom: 0.5rem;
}

.planning-item a {
    align-self: center;
}

.planning-item h3 {
    align-self: center;
    margin: 0;
}

.icon {
    margin: 0 0.4rem;
}

.icon img {
    width: 2rem;
    height: auto;
}

@media only screen and (max-width: 890px) {
    .planning-container {
        flex-flow: column;
    }

    .planning-items-list {
        width: 100%;
    }
}

/* Sustainability section */

#sustainability-section {
    width: 100%;
    padding: 2rem 3rem;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

#sustainability-section .content {
    width: 100%;
}

.sustainability-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sustainability-item {
    width: 50%;
    margin: 0 1rem;
}

.sustainability-item img {
    width: 100%;
    height: auto;
}

/* Events section */

#events-section {
    width: 100%;
    padding: 2rem 3rem;
    box-sizing: border-box;
}

#events-section .content {
    width: 100%;
}

.events-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.event-item {
    width: 50%;
    margin: 0 1rem;
}

.event-item img {
    width: 100%;
    height: auto;
}

/* About Us section */

#about-us-section {
    width: 100%;
    padding: 2rem 3rem;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

#about-us-section .content {
    width: 100%;
}

#about-us-section .mission {
    width: 100%;
    margin: 2rem 1rem;
}

#about-us-section .mission p {
    font-family: "Libre Baskerville";
    font-size: 1.25rem;
    line-height: 1.3;
}

.team-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.team-member {
    width: 25%;
    margin: 0 0.5rem;
}

.team-member .tablet {
    display: none;
}

.team-member h3 {
    margin-bottom: 0.5rem;
}

.team-member h4 {
    margin: 0 0 0.5rem 0;
}

.team-member img {
    width: 100%;
    height: auto;
}

.team-member-text {
    text-align: justify;
}

@media only screen and (max-width: 1090px) {
    .team-member .desktop {
        display: none;
    }
    
    .team-member .tablet {
        display: block;
    }
}

@media only screen and (max-width: 890px) {
    .team-container {
        flex-wrap: wrap;
    }
    
    .team-member {
        width: 45%;
    }


}

/* Footer */
footer {
    width: 100%;
    border-top 1px solid #c6c1c1;
    background-color: white;
}

footer h4 {
    margin: 0;
}

footer .footer-content {
    display: flex;
    align-items: top;
    padding: 1.5rem 1.5rem;
}

footer .logo {
    flex: 1;
    text-decoration: none;
    font-size: 1.5rem;
}

footer .logo img {
    width: 10rem;
    height: auto;
}

 footer .footer-destinations {
    display: flex;
    justify-content: space-between;
} 

footer .footer-destinations .footer-item {
    margin: 0 2rem;
}


footer ul {
    list-style-type: none;
    padding: 0;
}

footer .contact-us {
    margin: 0 2rem;
}


 @media only screen and (max-width: 890px){
    footer .footer-content {
        flex-flow: column;
    }

    footer .logo {
        margin-bottom: 1rem;
    }
} 
